<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

	<WVC_MMWM_Settings>Work Modes</WVC_MMWM_Settings>

	<WVC_Label_MainModeLabelSetting>Main</WVC_Label_MainModeLabelSetting>
	<WVC_Label_BonusModeLabelSetting>Bonus</WVC_Label_BonusModeLabelSetting>

	<!-- Main -->
	<WVC_Label_FindAndDestroy>Find and destroy</WVC_Label_FindAndDestroy>
	<WVC_Label_WaitEnemy>Wait enemy</WVC_Label_WaitEnemy>
	<WVC_Label_WorkAndWaitEnemy>Work and wait</WVC_Label_WorkAndWaitEnemy>
	<WVC_Label_DefendYourself>Defend yourself</WVC_Label_DefendYourself>
	<WVC_Label_Ambush>Ambush</WVC_Label_Ambush>
	<WVC_Label_WorkAndRecharge>Work and recharge</WVC_Label_WorkAndRecharge>
	<WVC_Label_SafeWorkAndRecharge>Work if safe</WVC_Label_SafeWorkAndRecharge>
	<WVC_Label_EscaortAndRecharge>Escort and recharge</WVC_Label_EscaortAndRecharge>
	<WVC_Label_WorkRechargeEscort>Work, recharge and escort</WVC_Label_WorkRechargeEscort>
	<WVC_Label_EscortIfEnemyOnMap>Escort if enemy</WVC_Label_EscortIfEnemyOnMap>

	<WVC_ToolTip_Setting>Before disabling, switch all mechanoid modes to vanilla. A restart is required to apply the settings.</WVC_ToolTip_Setting>

	<!-- Bonus -->
	<WVC_Label_EscortIfEnemyWorkAndRecharge>Escort if enemy, work and recharge</WVC_Label_EscortIfEnemyWorkAndRecharge>
	<WVC_Label_EscortIfDraftedOrDowned>Escort if drafted or downed</WVC_Label_EscortIfDraftedOrDowned>

	<WVC_ToolTip_BonusSetting>Bonus mode. It is disabled by default. Enabling is compatible with saves.</WVC_ToolTip_BonusSetting>

	<WVC_Label_enableShutdownSearching>Enable shutdown zone searching</WVC_Label_enableShutdownSearching>
	<WVC_ToolTip_enableShutdownSearching>If enabled, mechanoids will search for a mechanoid shutdown zone before shutdown.</WVC_ToolTip_enableShutdownSearching>

	<WVC_Label_enableEnemySearching>Enable enemy searching</WVC_Label_enableEnemySearching>
	<WVC_ToolTip_enableEnemySearching>If enabled, in safe modes, mechanoids will check the map for enemies.</WVC_ToolTip_enableEnemySearching>

	<WVC_ToolTip_enableSearchingWarning>If you don't understand what this option does, leave it enabled.</WVC_ToolTip_enableSearchingWarning>

	<WVC_Label_enableShutdownForAllMechanoids>Idle optimization for vanilla modes</WVC_Label_enableShutdownForAllMechanoids>
	<WVC_ToolTip_enableShutdownForAllMechanoids>If enabled, idle optimization will also affect vanilla modes.</WVC_ToolTip_enableShutdownForAllMechanoids>

	<WVC_Label_enableSmartChargingForAllMechanoids>Smart charging for vanilla modes</WVC_Label_enableSmartChargingForAllMechanoids>
	<WVC_ToolTip_enableSmartChargingForAllMechanoids>If enabled, then the mechanoids will go to charge when they are not busy with anything, and not only when the charge runs out.</WVC_ToolTip_enableSmartChargingForAllMechanoids>

	<WVC_Label_enableSmartEscort>Smart escort</WVC_Label_enableSmartEscort>
	<WVC_ToolTip_enableSmartEscort>If enabled, it allows you to select an escort target for mechanoids.

Restart required!</WVC_ToolTip_enableSmartEscort>

	<WVC_ToolTip_VanillaModeOptimizationWarning>Does not affect combat mechanoids, as their idle has been replaced with a simulated patrol.</WVC_ToolTip_VanillaModeOptimizationWarning>

	<WVC_Label_shutdownModeZonesOrSpots>Shutdown mode: Zones or Spots</WVC_Label_shutdownModeZonesOrSpots>
	<WVC_ToolTip_shutdownModeZonesOrSpots>If enabled, zones will be used. Alternatively, spots. It is recommended to enable it.

This option is for advanced users. If you don't know what spots are, then leave it enabled.

Restart required!</WVC_ToolTip_shutdownModeZonesOrSpots>

	<!-- Zones -->
	<WVC_MechanoidShutdownZone>Mechanoid shutdown zone</WVC_MechanoidShutdownZone>
	<WVC_MechanoidShutdownZoneDesc>Mechanoids will return here before shutting down.</WVC_MechanoidShutdownZoneDesc>

	<WVC_ShutdownZone_AllowWorkers>Work type</WVC_ShutdownZone_AllowWorkers>
	<WVC_ShutdownZone_AllowSafe>Safe type</WVC_ShutdownZone_AllowSafe>
	<WVC_ShutdownZone_AllowCombatants>Combat type</WVC_ShutdownZone_AllowCombatants>
	<WVC_ShutdownZone_AllowAmbush>Ambush type</WVC_ShutdownZone_AllowAmbush>

	<WVC_ShutdownZone_BasicDesc>Responsible for whether mechanoids with this type of work will be able to shutdown here.</WVC_ShutdownZone_BasicDesc>

	<WVC_WorkModes_On>On</WVC_WorkModes_On>
	<WVC_WorkModes_Off>Off</WVC_WorkModes_Off>

	<WVC_ShutdownZoneInPrisonCell>Shutdown zone cannot be in a prison cell.</WVC_ShutdownZoneInPrisonCell>
	<!-- <WVC_ShutdownZoneNotStandable>Shutdown zone cannot be located on impassable terrain or located on other objects.</WVC_ShutdownZoneNotStandable> -->
	<WVC_ShutdownZoneNotStandable>Shutdown zone should be standable.</WVC_ShutdownZoneNotStandable>

	<!-- SmartEscort -->
	<WVC_WorkModes_AssignToPawnEscortLabel>Assign to escort</WVC_WorkModes_AssignToPawnEscortLabel>
	<WVC_WorkModes_AssignToPawnEscortLabelReset>Reset escorted pawn</WVC_WorkModes_AssignToPawnEscortLabelReset>
	<!-- <WVC_WorkModes_AssignedPawnEscortLabel>{0} assigned escort {1}</WVC_WorkModes_AssignedPawnEscortLabel> -->
	<WVC_WorkModes_AssignToPawnEscortDesc>{0} assigned escort {1}

Allows you to specify to the mechanoid what colony pawn it will escort.

{0} cannot follow anyone other than an overseer in a caravan or on non-home maps.</WVC_WorkModes_AssignToPawnEscortDesc>

	<WVC_WorkModes_AssignToPawnEscortAssigned>{0} assigned to escort {1}.</WVC_WorkModes_AssignToPawnEscortAssigned>
	<WVC_WorkModes_AssignToPawnEscortNoLongerEscort>{0} no longer escort {1}.</WVC_WorkModes_AssignToPawnEscortNoLongerEscort>
	<WVC_WorkModes_EscortsAssignTargetLabel>Assigned to escorts {0}</WVC_WorkModes_EscortsAssignTargetLabel>

</LanguageData>